@media (min-width: 1400px)
    //.col-xxl-
    .container
        max-width: 1320px 

@media (max-width: 1399px)
    //.col-xl-
    .container
        max-width: 1140px 

@media (max-width: 1199px)
    //.col-lg-
    .container
        max-width: 960px 
    .promo
        &__block
            flex-direction: column
            text-align: center
            gap: 50px
        &__title
            line-height: 1.36
        &__text
            line-height: 1.39
            margin: 30px 0
    .button
        &_promo
            margin-top: 0
    .start
        &-inner
            &__block
                flex-direction: column
                height: auto
                padding: 100px 0
                text-align: center
                gap: 100px

@media (max-width: 991px) 
    //.col-md-
    .container
        max-width: 720px

@media (max-width: 767px) 
    //.col-sm-
    .container
        max-width: 540px
    .title
        text-align: center
    .possibilities
        &__items
            width: auto
            margin-top: 50px
        &__item
            flex-direction: column
            text-align: center
            

@media (max-width: 575px) 
    //.col-
    .container
        max-width: 100%
    .promo
        &__block
            margin-top: 50px
        &__title
            font-size: 45px
        &__img-block, &__text-block
            max-width: 465px
            width: 100%
        &__img-block
            max-width: 320px
            height: 320px
        &__img
            width: 196px
    .possibilities
        padding: 90px 0
    .start
        &-inner
            &__block
                padding: 70px 20px
                gap: 50px
            &__text-block
                width: auto
            &__img
                width: 200px
    .footer
        &-inner
            padding: 90px 0
 
